<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>ESTADO VALIDACIÓN:</h1>
    <a href="/">INICIO</a>
    {% if condicion %}
        <h1>{{mensaje}}</h1>
        <h1>Hash del documento:</h1>
        {{hashArchivo}}
        <h1>Hash del bloque:</h1>
        {{hashBloque}}
    {% elif condicion == False %}
        <h1>{{mensaje}}</h1>
        {{hashArchivo}}
    {% endif %}
</body>
</html>